<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>

    <%- include('menus') %>

    <main class="container">

      <div class="starter-template text-center py-5 px-3">
        <h1><%= title %></h1>
        <p class="lead">Welcome to <%= title %></p>
        <p><%= page %></p>
        <canvas id="myChart"></canvas>
        <div class="row">
          <!-- 
          <div class="col">
            <img src="compress-time.png" alt="Compressio Time Bar Chart">
          </div>
          <div class="col">
            <img src="decompress-time.png" alt="Decompressio Time Bar Chart">
          </div>
          <div class="col">
            <img src="compress-ratio.png" alt="Compression Ratio Bar Chart">
          </div>
          -->
          <div class="col">
              
          </div>
          <%- script %>
        </div>
      </div>
    
    </main>
    
  </body>
  <%- include('footer') %>
</html>