<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>

    <%- include('menus') %>

    <main class="container">

      <div class="starter-template text-center py-5 px-3">
        <h1><%= title %></h1>
        <p class="lead">Welcome to <%= title %></p>
        <p><%= page %></p>
        <p><%= gzip.time %></p>
        <img src="output.png" alt="Bar Chart">
      </div>
    
    </main>
    
  </body>
</html>
